body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:rgb(121, 121, 155);
}
h1{
  text-align: center;
    color: #bdbdeb;
    font-size: 70px;
}
section{
  background-color: white;
  box-shadow: 1px 1px 10px 2px rgb(194, 204, 255);
  width: 60%;
  margin: 100px auto;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid rgb(169, 169, 189);
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0;
  margin: 10px auto;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 24px;
  align-items: center;
  align-content: center;
}
.list-item > button{
  border-radius: 25px;
  border: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: none;
  background-color: #ff000045;
}
.list-item:hover > button{
  display: block;
  cursor: pointer;
}
.list-item > div{
  width: 100%;
  text-align: justify;
  padding: 3px 20px;
  word-break: break-all;
}
#selectAll-btn{
  appearance: none;
  width: 50px;
  height: 50px;
  border: 0.01px solid rgb(240, 218, 218);
  background-color: #fdf8f8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#selectAll-btn::after{
  font-family: "FontAwesome";
  content: '\f0d7';
  font-size: 20px;
  display: none;
  font-weight: 300;
  color: #f389a76e;
}
#selectAll-btn:checked{
  border: 0.01px solid rgb(226, 158, 158);
  background-color: #a3e9dc;
}
#selectAll-btn:checked:after{
  display: inline;
}


.list-item > input[type="checkbox"]{
  appearance: none;
  width: 55px;
  height: 50px;
  border: 0.01px solid rgb(240, 218, 218);
  background-color: #fdf8f8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item > input[type="checkbox"]::after{
  font-family: "FontAwesome";
  content: '\f00c';
  font-size: 20px;
  display: none;
  font-weight: 300;
  color: #f389a76e;
}
.list-item > input[type="checkbox"]:checked{
  border: 0.01px solid rgb(240, 182, 182);
}
.list-item > input[type="checkbox"]:checked:after{
  display: inline;
}
.completed > div{
  text-decoration: line-through;
}
#add-input{
  width: 80%;
  padding: 10px 5px;
  border: 0;
  font-size: 24px;
  color: rgb(243, 134, 232);
  padding: 10px;
}
input[type="text"]:focus{
  outline: 0;
  border: 0;
}
#add-btn , #all-btn, #active-btn ,#completed-btn ,#btn-clear{
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #d1a4a4;
  padding: 5px 10px ;
  margin: 3px;
  cursor: pointer;
}
#add-btn{
  background-color: #0080006e;
  color: white;
}
.btn-grp{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: auto;
  flex-wrap: wrap;
}
.selected{
  border-color: rgba(60, 10, 10, 0.2)!important;
}

